.button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid #aaaaaa;
    color: #aaaaaa;
    transform: scale(1);
    cursor: pointer;
    transition: .5s;

    &:hover{
        border: 2px solid #aaaaaa; 
    }

    &:active{
        transform: scale(0.9);
    }

    &__open{
        border-bottom: 2px solid #0b4100;
        color: #0b4100;

        &:hover{
            border: 2px solid #0b4100; 
        }
    
        &:active{
            transform: scale(0.9);
        }
    }

    &__edit{
        border-bottom: 2px solid #ff7b00;
        color: #ff7b00;

        &:hover{
            border: 2px solid #ff7b00; 
        }
    
        &:active{
            transform: scale(0.9);
        }
    }

    &__delete{
        border-bottom: 2px solid #850000;
        color: #850000;

        &:hover{
            border: 2px solid #850000; 
        }
    
        &:active{
            transform: scale(0.9);
        }
    }
}