@import './mixins.scss';

.button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    @include lightGreyBorder();
    color: $light-gray-text;
    transform: scale(1);
    cursor: pointer;
    transition: .5s;

    &:hover{
        border: 2px solid $light-gray-text; 
    }

    &:active{
        transform: scale(0.9);
    }

    &__open{
        @include openBtn();

        &:hover{
            border: 2px solid #0b4100; 
        }
    
        &:active{
            transform: scale(0.9);
        }
    }

    &__edit{
        @include editBtn();

        &:hover{
            border: 2px solid #ff7b00; 
        }
    
        &:active{
            transform: scale(0.9);
        }
    }

    &__delete{
        @include deleteBtn();

        &:hover{
            border: 2px solid #850000; 
        }
    
        &:active{
            transform: scale(0.9);
        }
    }
}

@media screen and (max-width: 860px) {
    .button{
        margin-top: 5px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 520px) {
    .button{
        margin-top: 3px;
        padding: 3px 5px;
    }
}