.input{
    max-width: 800px;
    width: 100%;
    padding: 10px;
    outline: none;
    text-decoration: none;
    border: 2px solid transparent;
    background: transparent;
    border-bottom: 2px solid #aaaaaa;
    font-size: 14px;
    font-weight: 500;
    color: #5c5c5c;
    transition: border .5s;

    &::placeholder{
        font-size: 14px;
        font-weight: 500;
        color: #aaaaaa;
    }

    &__filter--active{
        border: 2px solid #aaaaaa;
        transition: border .5s;
    }
}

@media screen and (max-width: 860px) {
    .input{
        max-width: 500px;
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    .input{
        max-width: 300px;
        width: 100%;
    }
}