@import './mixins.scss';

.input{
    @include desktopComponent();
    padding: 10px;
    outline: none;
    text-decoration: none;
    @include lightGreyBorder();
    font-size: 14px;
    font-weight: 500;
    color: $dark-gray-text;
    transition: border .5s;

    &::placeholder{
        font-size: 14px;
        font-weight: 500;
        color: $light-gray-text;
    }

    &__filter--active{
        border: 2px solid  $light-gray-text;
        transition: border .5s;
    }
}

@media screen and (max-width: 860px) {
    .input{
        @include tabletComponent()
    }
}

@media screen and (max-width: 520px) {
    .input{
        @include phoneComponent()
    }
}