@import './mixins.scss';

.main{
    @include flexColumnAlignCenter();

    &__container{
        @include flexColumnAlignCenter();
    }

    &__title{
        color: $medium-light-gray;
        font-size: 36px;
        font-weight: 600;
    }
}

.notes{
    margin-top: 20px;
    padding-bottom: 50px;
    @include maxWidth100percent();
    @include flexColumnAlignCenter();

    &__note{
        @include flexSpaceB();
        margin-top: 20px;
        @include desktopComponent();
        cursor: pointer;
        @include mediumGreyBorder();
    }

    &__text{
        @include maxWidth100percent();
        @include flexColumnSpaceB();
    }

    &__buttons{
        @include flexColumn()
    }
}

.note{
    &__title{
        color: $medium-light-gray;
        font-size: 36px;
        font-weight: 600;
    }

    &__body{
        color: $medium-light-gray;
        font-size: 24px;
        font-weight: 400;

        &--tag-light{
            color: #f700ff;
        }
    }

    &__tags{
        display: flex;
    }

    &__tag{
        margin-left: 5px;
    }
    
}

@media screen and (max-width: 860px) {
    .main{
        &__title{
            font-size: 28px;
        }
    }
    .notes{
        &__note{
            @include tabletComponent()
        }
    }
    .note{
        &__title{
            font-size: 24px;
            font-weight: 600;
        }
    
        &__body{
            font-size: 16px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 520px) {
    .main{
        &__title{
            font-size: 24px;
        }
    }
    .notes{
        &__note{
            @include phoneComponent()
        }
    }
    .note{
        &__title{
            font-size: 18px;
            font-weight: 600;
        }
    
        &__body{
            font-size: 14px;
            font-weight: 400;
        }
    }
}

