.main{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        padding-top: 20px;
        color: #aaaaaa;
        font-size: 36px;
        font-weight: 600;
    }
}

.notes{
    margin-top: 20px;
    max-width: 100%;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__note{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        max-width: 800px;
        width: 100%;
        cursor: pointer;
        border: 2px solid transparent;
        background: transparent;
        border-bottom: 2px solid #707070;
    }

    &__text{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__buttons{
        display: flex;
        flex-direction: column;
    }
}

.note{
    &__title{
        color: #707070;
        font-size: 36px;
        font-weight: 600;
    }

    &__body{
        color: #707070;
        font-size: 24px;
        font-weight: 400;

        &--tag-light{
            color: #f700ff;
        }
    }

    &__tags{
        display: flex;
    }

    &__tag{
        margin-left: 5px;
    }
    
}

