@import './mixins.scss';

.modal{  
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;

    &-enter{
        opacity: 0;
    }

    &-enter-active{
        opacity: 1;
        transition: opacity 1s;
    }

    &-exit{
        opacity: 1;
    }

    &-exit-active{
        opacity: 0;
        transition: opacity 1s;
    }

    &__container{
        position: fixed;
        @include desktopComponent();
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $very-light-gray;
        box-shadow: 0 0 50px 50px $dark-gray-text;
        border-radius: 20px;
        overflow: hidden;
        z-index: 3;
        cursor: default;
    }

    &__title{
        color: $medium-light-gray;
        font-size: 36px;
        font-weight: 600;
    }

    &__body{
        color: $medium-light-gray;
        font-size: 24px;
        font-weight: 400;
        margin: 5px 0;

        &--tag-light{
            color: #f700ff;
        }
    }

    &__tags{
        display: flex;
    }

    &__tag{
        margin: 0 0 0 5px;
    }

    &__button{
        position: absolute;
        color: $medium-light-gray;
        top: 8px;
        right: 15px;
        padding: 15px;
        font-size: 24px;
        cursor: pointer;
        border: transparent;
    }

}

@media screen and (max-width: 860px) {
    .modal{ 
        &__container{
            @include tabletComponent()
        }
    }
}

@media screen and (max-width: 520px) {
    .modal{ 
        &__container{
            @include phoneComponent()
        }

        &__title{
            font-size: 24px;
        }
    
        &__body{
            font-size: 18px;
        }

        &__button{
            padding: 5px;
            font-size: 18px;
        }
    }
}
