@import './mixins.scss';

.text-area{
    &__container{
        @include desktopComponent();
        height: 100px;
        margin-bottom: 10px;
    }

    @include desktopComponent();
    height: 100px;
    padding: 10px;
    outline: none;
    text-decoration: none;
    border: none;
    @include lightGreyBorder();
    font-size: 14px;
    font-weight: 500;
    color: $dark-gray-text;
    resize: none;

    &::placeholder{
        color: $light-gray-text;
        font-size: 14px;
        font-weight: 500;
    }

    &__message{
        height: 10px;
        color: #940000;
        font-size: 14px;
        font-weight: 500;
        padding-left: 10px;
    }
   
}

@media screen and (max-width: 860px) {
    .text-area{
        &__container{
            @include tabletComponent()
        }
    }
}

@media screen and (max-width: 520px) {
    .text-area{
        &__container{
            @include phoneComponent()
        }
    }
}