@import url(./fonts/Fonts.scss);
@import './styles/mixins.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: $very-light-gray;
}